.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 250, 250);
    padding-top: 40px;
}

.page-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.page-name {
    font-size: 50px;
    font-weight: bold;
    color: blue;
}

.page-description {
    font-size: 25px;
    text-align: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 50px;
    margin-top: 60px;
    width: 370px;
    height: 350px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 1px;
}

.email {
    margin-bottom: 15px;
    width: 300px;
    height: 40px;
    border-radius: 7px;
    border: 2px solid grey;
    padding-left: 10px;
}

.pwd {
    margin-bottom: 25px;
    margin-top: 10px;
    width: 300px;
    height: 40px;
    border-radius: 7px;
    border: 2px solid grey;
    padding-left: 10px;
}

.button-signup {
    height: 40px;
    width: 310px;
    background-color: rgb(75, 75, 233);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
}

.button-login {
    margin-top: 25px;
    height: 40px;
    width: 310px;
    background-color: rgb(94, 172, 94);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.forgot-pwd{
    margin-top: 20px;
}

.login-failure {
    margin-top: 25px;
}

@media screen and (max-width:720px) {
    .login-box {
        padding-top: 30px;
        margin-top: 30px;
        width: 350px;
        height: 330px;
    }

    .page-name {
        font-size: 40px;       
    }

    .page-description {
        font-size: 20px;
    }

    .email {
        width: 280px;
    }

    .pwd {
        width: 280px;
    }

    .button-signup {
        width: 295px;
        margin-top: 15px;
    }

    .button-login {
        width: 295px;
    }
}